.generated_files/
build/
dist/
nbproject/
Makefile*
Package-*
private/
_build/
!cmake/**/user.cmake
cmake/**/.generated/*
cmake/**/CMake*
out/
venv/

.DS_Store
__pycache__
high_scores.json
.requirements_installed